{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

    <link rel="stylesheet" href="https://unpkg.com/tachyons@4.10.0/css/tachyons.min.css"/>
    {% comment %} Um, sorry, no CSS or Materialize. I will am Tachyons instead. {% endcomment %}

    <title>Cat Collectr</title>
  </head>
  <body>
    <h1 class="washed-green">CatCollectr</h1>
    <hr />
    {% block content %}
    {% endblock content %}
    <footer>All rights reserved, Cat Collectr 2018</footer>
  </body>
</html>ajamesj